.form-horizontal{
  width: auto;
  height: auto;
  margin-top: 10%;
  margin-left: 5%;
  box-sizing: border-box;
  font-size: 20px;
  .form-group {
    align-content: center;
    width: auto;
    float: none;
    margin-bottom: 5%;
    label {
      font-size: 20px;
      font-weight: 100;
      padding-bottom: 30px;
    }
    input {
      width: 300px;
    }
  }
  .col-md-4 {
    small {
  		display: none;
      text-align: center;
  	}
  	small.error {
      width: 300px;
  		font-size: 18px;
  		display: block;
  		padding: 15px;
      color: #d9534f;
  	}

    small.success {
      width: 300px;
  		font-size: 18px;
  		display: block;
  		padding: 15px;
      color:  #5cb85c;
  	}

    small.top-margin{
      margin-top: 20px;
    }
  }
  .col-md-8 {
    margin-top:5%;
    text-align: center;
}
.button-group{
  margin-top: 50px;
  #bSave {
    background-color: #88DAF7;
    color: #333333;
    width: 120px;
    margin-right: 2%;

  }
  #bCancel {
    width: 120px;
    margin: auto;
  }
}
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .form-group .button-group{
    margin-left: 160px;
  }
}
@media only screen and (max-width: 710px) {
  .form-horizontal{
    font-size: 16px;
    .form-group {
      label {
        font-size: 16px;
        padding-bottom: 30px;
      }
      input {
        width: 270px;
      }
    }
    .col-md-4 {
    	small.error {
        width: 270px;
    		font-size: 14px;
    	}

      small.success {
        width: 270px;
    		font-size: 14px;
    	}
      small.top-margin{
        margin-top: 20px;
      }
    }
  .button-group{
    margin-top: 50px;
    margin-left: -30px;
  }
  }
}
@media only screen and (max-width: 559px) {
  .form-horizontal{
    font-size: 14px;
    .form-group {
      label {
        font-size: 14px;
        padding-bottom: 30px;
      }
      input {
        width: 150px;
      }
    }
    .col-md-4 {
    	small.error {
        width: 150px;
    		font-size: 12px;
    	}

      small.success {
        width: 150px;
    		font-size: 12px;
    	}
      small.top-margin{
        margin-top: 20px;
      }
    }
    .button-group{
      margin-top: 50px;
      #bSave {
        width: 80px;
      }
      #bCancel {
        width: 80px;
      }
    }
  }
}
