<div class="slideshow">
  <div class="slideshow-image" style="background-image: url('assets/images/bg1.jpg')"></div>
  <!-- <div class="slideshow-image" style="background-image: url('assets/images/bg2.jpg')"></div>
  <div class="slideshow-image" style="background-image: url('assets/images/bg3.jpg')"></div>
  <div class="slideshow-image" style="background-image: url('assets/images/bg4.jpg')"></div> -->

  <div class="register_page">
    <div class="title">
      <h1>matchmixr</h1>
    </div>
    <form #user="ngForm" (ngSubmit)="onSubmit(user, $event)" id="register-form" class="register-form">
      <input type="text" name="email" placeholder="example@domain.com" [ngModel]="registerUser.email" required #email="ngModel"
        pattern="^[a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*$" (focus)="refreshHandler()" />
      <small  [ngClass]="{'error': !email.valid && !(email.pristine && !user.submitted) }" class="text-danger">
        <div [hidden]="!email.hasError('required')">Email is required</div>
        <div [hidden]="!email.hasError('pattern')">Email invalid
         </div>
      </small>

      <input type="password" name="password" placeholder="Password" id="password" [ngModel]="registerUser.password" validateEqual="passwordConfirm" (focus)="refreshHandler()"
          reverse="true" required  pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$" #password="ngModel" />
      <small [ngClass]="{'error': !password.valid && !(password.pristine && !user.submitted) }" class="text-danger">
          <div [hidden]="!password.hasError('required')">Password is required</div>
          <div [hidden]="!password.hasError('pattern')">Mininum 8 character, at least one letter, one number</div>
      </small>
      <input type="password" name="passwordConfirm" placeholder="Confirm Password" id="passwordConfirm" (focus)="refreshHandler()"
          [ngModel]="registerUser.passwordConfirm" required validateEqual="password" reverse="false" #passwordConfirm="ngModel" />
      <small [ngClass]="{'error': !passwordConfirm.valid && !(passwordConfirm.pristine && !user.submitted)}" class="text-danger">
                Password mismatch
              </small>
      <small [ngClass]="{'error': test =='fail'}" class="text-danger">
              This email has been taken
      </small>

      <small [ngClass]="{'success': test === 'true'}" class="text-danger">
              Register successfully
      </small>

      <input type="submit" name="register" value="Register" class="button_group" [disabled]="!email.valid || !password.valid || !passwordConfirm.valid" >

      <p>Have an account?
        <a [routerLink]="['/login']">Login</a>
      </p>
      <!-- *ngIf="test" [routerLink]="['/login']" -->
    </form>
  </div>
</div>
